html,body,h1,h2,h3,h4,h5,h6,ul,li {
    margin: 0;
    padding: 0;
}

html {
    overflow-y:scroll;
    -moz-scrollbars:vertical;
    }

body {
    font: normal normal normal 1.5em/130% Helvetica,Arial,Verdana,sans-serif; 
    background-color: #f5f5f0; 
    
   
}

body { padding-top: 90px; }
@media screen and (max-width: 768px) {
    body { padding-top: 90px; }

}

ol{
    margin-left:10%;
    list-style-type:none;
    text-decoration: underline;
}


.glyphicon .glyphicon-search{
    color: white;
}

.navbar-inverse{
  background-color:#0f0f0a;
}


#navbar a{
  color: white;
  font-size: 1.1em;
  margin-top: 10px; 
}

.logo{
    margin-top: 10px; 
}

.logg{
    font-size: 0.8em;
}

#active{
  background-color:  #0f0f0a;
}
.dropdown-menu{
  background-color:  #0f0f0a;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
  background-color: #f5f5f0;
}


.søg{
    background-color: whitesmoke;
    border: solid 1px lightgray;
    padding: 2px;
    margin-bottom: 20px; 
}


h3, h1{
    text-align: center;
    padding-bottom: 15px;
}

footer{
    padding: 20px;
    margin-top: 60px;
    background-color: #0f0f0a;
    clear: both;
}

footer p, h4{
    color: 		#ccccb3;
}


.container a {
    text-decoration: none;
    color: inherit;
}

.panel { position: relative; overflow: hidden; display: block; border-radius: 0 !important;  }
.panel-default { border-color: #ebedef !important; }
.panel .panel-body { position: relative; padding: 0 !important; overflow: hidden; height: auto; }
.panel .panel-body a { overflow: hidden; }
.panel .panel-body a img { display: block; margin: 0; width: 100%; height: auto; 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}
.panel .panel-body a.zoom:hover img { transform: scale(1.2); -ms-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -moz-transform: scale(1.2); }
.panel .panel-body a.zoom span.overlay { position: absolute; top: 0; left: 0; visibility: visible; height: 100%; width: 100%; background-color: #000; opacity: 0.55; -moz-opacity: 0.55; -webkit-opacity: 0.55; filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}     
.panel .panel-body a.zoom:hover span.overlay { display: block; visibility: hidden; opacity: 0;  }  
.panel .panel-body a.zoom:hover span.overlay i { position: absolute; top: 45%; left: 0%; width: 100%; font-size: 2.25em; color: #fff !important; text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.panel .panel-body a.zoom span.overlay {
    background-color: white;
    opacity: 0;
}
